.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background:
    linear-gradient(#22222299, #22222299),
    url("/plasmic/agency_website/images/handG176868E991920Jpg.jpg") bottom 60% right 0px / cover no-repeat fixed;
  margin-bottom: 0px;
  min-width: 0;
  padding: 177px 32px 179px;
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__v2FrR {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
.h1 {
  padding-top: 0px;
}
.text {
  position: relative;
  height: auto;
  max-width: 750px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  color: var(--token-J5LhDkmcWqg4);
}
.freeBox__jhsOs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__bmzi8 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1380px;
  column-gap: 30px;
  row-gap: 30px;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 30px;
  padding: 46px 8px 49px;
}
.columns__bmzi8 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bmzi8 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.column__ku7Mi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__s44TZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
  background: url("/plasmic/agency_website/images/christinaWocintechchatComFaEfWCdOkIgUnsplashJpg.jpg") top 50% left 50% / cover repeat;
  backdrop-filter: none;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  column-gap: 16px;
  min-width: 0;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 272px 25px 36px;
}
.columns___4TWc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___4TWc > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__iixaO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 0px;
}
.client__o0HPc:global(.__wab_instance) {
  position: relative;
}
.column___498Fe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__tSMbv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
  background: url("/plasmic/agency_website/images/linkedinSalesSolutionsQbDiSp5IqxAUnsplashJpg.jpg") top 50% left 50% / cover repeat;
  backdrop-filter: none;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  column-gap: 16px;
  min-width: 0;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 272px 25px 36px;
}
.columns__x2VOv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__x2VOv > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__wjz5M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 0px;
}
.client__lZuk7:global(.__wab_instance) {
  position: relative;
}
.column__wPszn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ga0N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
  background: url("/plasmic/agency_website/images/pexelsAndreaPiacquadio789822Jpg.jpg") top 50% left 50% / cover repeat;
  backdrop-filter: none;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  column-gap: 16px;
  min-width: 0;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 272px 25px 36px;
}
.columns__jq309 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__jq309 > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__zi2GN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 0px;
}
.client__mkmsC:global(.__wab_instance) {
  position: relative;
}
.column__b71J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__cmhwk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
  background: url("/plasmic/agency_website/images/linkedinSalesSolutions46Bom4LObsAUnsplashJpg.jpg") top 50% left 50% / cover repeat;
  backdrop-filter: none;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  column-gap: 16px;
  min-width: 0;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 272px 25px 36px;
}
.columns__uwpWw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__uwpWw > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column___1Tlav {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 0px;
}
.client___5EEm3:global(.__wab_instance) {
  position: relative;
}
.clientsSection5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  background: #eeeeee;
  column-gap: 16px;
  min-width: 0;
  padding: 29px 16px 40px;
}
.freeBox___376M5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
  background: none;
  padding-top: 0px;
  padding-bottom: 0px;
  column-gap: 16px;
  min-width: 0;
}
.columns__okUmG {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 42px 8px 36px;
}
.columns__okUmG > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__jq2DK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: none;
  flex-wrap: wrap;
  min-width: 0;
  padding: 26px 26px 35px;
}
.h2__q2PpJ {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  min-width: 0;
}
.column__wAb5J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nNet6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 128px 18px;
}
.freeBox__hxYCa {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1080px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 64px;
  row-gap: 32px;
}
.img__rwnqZ {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__rwnqZ > picture > img {
  object-fit: cover;
}
.img__myhmo {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__myhmo > picture > img {
  object-fit: cover;
}
.img__s1Qmt {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__s1Qmt > picture > img {
  object-fit: cover;
}
.img__nVicv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__nVicv > picture > img {
  object-fit: cover;
}
.footerTopSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
