.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-H9QDlZqfoOqK);
  color: var(--token-EligFghZ3Gzi);
  font-family: var(--token-AJYkFMfS40qd);
  font-size: var(--token-eNhfE7Qi48Wl);
  line-height: var(--token-noVvz83UuVVw);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-GqqvQO2GhZeK);
  padding: var(--token-GqqvQO2GhZeK) var(--token-zXNiTwKAfhLM);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-pZ5EiI9dhM56);
  outline-offset: 1px;
  outline-color: var(--token-Zicwif7WQQAD);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-XtLPxt_CZJD9);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-UulVTSptE3F5);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-XtLPxt_CZJD9);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-C4ErfxIZbF7B);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-C4ErfxIZbF7B);
}
