.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  column-gap: 16px;
  min-width: 0;
  padding: 2px 16px 0px;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
.header__j4OKr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutUsBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background:
    linear-gradient(#22222299, #22222299),
    url("/plasmic/agency_website/images/linkedinSalesSolutions46Bom4LObsAUnsplashJpg.jpg") bottom 60% right 0px / cover no-repeat fixed;
  margin-bottom: 0px;
  align-self: flex-start;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (max-width: 768px) {
  .aboutUsBanner {
    padding-top: 61px;
    padding-bottom: 61px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__aMwVq {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
}
.h1 {
  padding-top: 0px;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 40px;
  }
}
.text__ls80K {
  position: relative;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  color: var(--token-J5LhDkmcWqg4);
}
@media (max-width: 768px) {
  .text__ls80K {
    font-size: 18px;
  }
}
.ourTeamSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 8px;
}
@media (max-width: 768px) {
  .ourTeamSection {
    padding-bottom: 21px;
    height: auto;
    margin: 0px;
  }
}
.columns {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  width: 1380px;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gEgQu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .column__gEgQu {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.h2__htKc0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 13px;
  padding-bottom: 13px;
  text-align: center;
  min-width: 0;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.row1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 1117px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  min-width: 0;
  --plsmc-rc-col-gap: 30px;
  padding: 8px;
}
.row1 > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .row1 {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    min-height: 0;
    --plsmc-rc-col-gap: 30px;
  }
}
@media (max-width: 768px) {
  .row1 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__p3B7J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__aGxD:global(.__wab_instance) {
  position: relative;
}
.h3___7HpVu {
  color: #ffffff;
}
.link__tHck9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__uLo5K {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.link__pPxcr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__wmgot {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  align-self: flex-start;
  height: 1em;
}
.link__aA2Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__xiTup {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.column__mghsy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__rvWZ:global(.__wab_instance) {
  position: relative;
}
.h3__l0TfC {
  color: #ffffff;
}
.link__mfk06 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__rU9Rb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.link__isgO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__fypq0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  align-self: flex-start;
  height: 1em;
}
.link___7Xx9A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__shmxa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.column__eRMr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__z3VYa:global(.__wab_instance) {
  position: relative;
}
.h3__bAcwJ {
  color: #ffffff;
}
.link__sGh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__nlpU8 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.link__fc44D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__qlejk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  align-self: flex-start;
  height: 1em;
}
.link___1HhPy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__ng2F2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.column__gy4Si {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard___9D6C1:global(.__wab_instance) {
  position: relative;
}
.h3__p0Bl5 {
  color: #ffffff;
}
.link__kxNl1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__xak {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.link__jlzOu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___3O0C8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  align-self: flex-start;
  height: 1em;
}
.link__icsly {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___0AIrC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.column__igMo8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__gJs81:global(.__wab_instance) {
  position: relative;
}
.h3__iX3Rt {
  color: #ffffff;
}
.link__amxW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__xxEkO {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.link__xyCOj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__puqcn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  align-self: flex-start;
  height: 1em;
}
.link__jyWna {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__pacZg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.column__rQiF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard___7FNj:global(.__wab_instance) {
  position: relative;
}
.h3__kfF8P {
  color: #ffffff;
}
.link__mXpt3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__eweoX {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.link___2YZti {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__dPzgc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  align-self: flex-start;
  height: 1em;
}
.link___3KgVq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__w5X1X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.freeBox___99M06 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #eeeeee;
  width: 100%;
  min-width: 0;
  padding: 0px 64px 68px;
}
@media (max-width: 768px) {
  .freeBox___99M06 {
    width: 100%;
    min-width: 0;
    padding: 10px 32px 28px;
  }
}
.freeBox__tRq7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  column-gap: 32px;
  row-gap: 32px;
  min-width: 0;
}
@media (max-width: 768px) {
  .freeBox__tRq7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__bMc4W {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: flex-start;
  max-width: 100%;
  width: 100%;
  row-gap: 16px;
  min-width: 0;
  border-radius: 16px;
  padding: 63px 24px 24px;
}
.freeBox__ejpeY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
}
.h2__z8Axy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 18px;
  min-width: 0;
}
.text___9PesB {
  align-self: flex-start;
  max-width: 807px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;
  min-width: 0;
}
.freeBox__q4Vla {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.serviceRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 30px;
  padding: 20px 0px 8px;
}
.serviceRow > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .serviceRow {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    --plsmc-rc-col-gap: 30px;
  }
}
@media (max-width: 768px) {
  .serviceRow > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__l4WXb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__cHxgZ:global(.__wab_instance) {
  position: relative;
}
.column___2XcHl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__paRpC:global(.__wab_instance) {
  position: relative;
}
.column__gGj1T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__hDp6J:global(.__wab_instance) {
  position: relative;
}
.column__mshKq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__joHiH:global(.__wab_instance) {
  position: relative;
}
.column__o2Dvs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__wRfsl:global(.__wab_instance) {
  position: relative;
}
.column__qCfHv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue___7MXxv:global(.__wab_instance) {
  position: relative;
}
.freeBox__w1Sg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 768px) {
  .homeFooterTop:global(.__wab_instance) {
    position: relative;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
