.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-Zicwif7WQQAD);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token--rSaC41lgzXD);
  font-family: var(--token-AJYkFMfS40qd);
  font-size: var(--token-eNhfE7Qi48Wl);
  line-height: var(--token-noVvz83UuVVw);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-GqqvQO2GhZeK);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-pZ5EiI9dhM56);
  outline-offset: 1px;
  outline-color: var(--token-Zicwif7WQQAD);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-tLrl2rVTEm8M);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-Wi6ySeKNK7-J);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-OgCfzof6Lus1);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-dQl2tu4_4xKB);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-BhnuPuxhjUtv);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-7aqzGxcmOJFg);
  font-size: var(--token-GyWWQbqSvcxO);
  column-gap: var(--token-pZ5EiI9dhM56);
  row-gap: 0px;
  border-radius: var(--token-7mIgVXHHNlwj);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-GyWWQbqSvcxO);
  line-height: var(--token-7aqzGxcmOJFg);
  column-gap: var(--token-7mIgVXHHNlwj);
  row-gap: 0px;
  border-radius: var(--token-7mIgVXHHNlwj);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-iz0MKfHxAbL6);
  line-height: var(--token-uZgPLPuRcCsg);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-iz0MKfHxAbL6);
  line-height: var(--token-uZgPLPuRcCsg);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-897Iy11Wv_zY);
  border-radius: var(--token-GqqvQO2GhZeK);
}
.softBackgroundcolor_neutral {
  background: var(--token-5lcpiYqcNdoZ);
}
.softBackgroundcolor_muted {
  background: var(--token-XtLPxt_CZJD9);
}
.softBackgroundcolor_success {
  background: var(--token-I2T35Z4aGufw);
}
.softBackgroundcolor_warning {
  background: var(--token-TtBMWB9Te3xN);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-So6uJxIlYxJg);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.softBackgroundtype_soft_color_neutral {
  background: var(--token-J5LhDkmcWqg4);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-GqqvQO2GhZeK);
  border: 0px solid var(--token-Gk_P58GQDVxs);
}
.bordercolor_neutral {
  border-color: var(--token-cNBqYi7H42pr);
}
.bordercolor_muted {
  border-color: var(--token-K--K8oPpL9li);
}
.bordercolor_success {
  border-color: var(--token-g57ZLBZrgNg9);
}
.bordercolor_warning {
  border-color: var(--token-SYfRo4wn3uBY);
}
.bordercolor_errorDestructive {
  border-color: var(--token-n7rgNzFgInpu);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-GqqvQO2GhZeK);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-v0QLdUvFLpV3);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-h7Y3XY7G3qxx);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-VFiuS99EpOsO);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__cI3Q {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-GqqvQO2GhZeK);
  min-width: 0;
  min-height: 0;
  padding: var(--token-GqqvQO2GhZeK) var(--token-zXNiTwKAfhLM);
}
.freeBoxsize_extraSmall__cI3QQlLj {
  padding: var(--token-7mIgVXHHNlwj) var(--token-GqqvQO2GhZeK);
}
.freeBoxsize_small__cI3Q51E1B {
  padding: var(--token-GqqvQO2GhZeK) var(--token--rSaC41lgzXD);
}
.freeBoxsize_large__cI3QFNmPi {
  padding-top: var(--token-7mIgVXHHNlwj);
  padding-bottom: var(--token-7mIgVXHHNlwj);
}
.freeBoxsize_extraLarge__cI3QKWyDl {
  padding: 12px 40px;
}
.freeBoxroundedFull__cI3QYpGul {
  padding-right: var(--token-Z8BIPmEDaiUS);
  padding-left: var(--token-Z8BIPmEDaiUS);
}
.freeBox__hr1Ln {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__hr1LNzJjeV {
  display: flex;
}
.slotTargetStart {
  color: var(--token-TJxOVpXWhVBF);
}
.slotTargetStartcolor_neutral {
  color: var(--token--HUiM5k6Z_r8);
}
.slotTargetStartcolor_muted {
  color: var(--token-nl25xu5G5r6i);
}
.slotTargetStartcolor_success {
  color: var(--token-C4TAIINK8xHa);
}
.slotTargetStartcolor_warning {
  color: var(--token-z0EkzB_xYcuk);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-ffN7A7ymK_6c);
}
.slotTargetStarttype_soft {
  color: var(--token-R1ZrHgwXkfqR);
}
.slotTargetStarttype_bordered {
  color: var(--token-R1ZrHgwXkfqR);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-GyWWQbqSvcxO);
}
.slotTargetStartsize_small {
  font-size: var(--token-GyWWQbqSvcxO);
}
.slotTargetStartsize_large {
  font-size: var(--token-iz0MKfHxAbL6);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-iz0MKfHxAbL6);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-WPdyv5ImOjW9);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-WPdyv5ImOjW9);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-nZn2ERquxzZt);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-nZn2ERquxzZt);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-t4LRz2hDl9ro);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-t4LRz2hDl9ro);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-EuzwrAHrn5Of);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-EuzwrAHrn5Of);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-am39CqB7lPb8);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-am39CqB7lPb8);
}
.svg__amAcl {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-TJxOVpXWhVBF);
}
.slotTargetLabelcolor_neutral {
  color: var(--token--HUiM5k6Z_r8);
}
.slotTargetLabelcolor_muted {
  color: var(--token-nl25xu5G5r6i);
}
.slotTargetLabelcolor_success {
  color: var(--token-C4TAIINK8xHa);
}
.slotTargetLabelcolor_warning {
  color: var(--token-z0EkzB_xYcuk);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-ffN7A7ymK_6c);
}
.slotTargetLabeltype_soft {
  color: var(--token-R1ZrHgwXkfqR);
}
.slotTargetLabeltype_bordered {
  color: var(--token-R1ZrHgwXkfqR);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-WPdyv5ImOjW9);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-nZn2ERquxzZt);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-WPdyv5ImOjW9);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-t4LRz2hDl9ro);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-nZn2ERquxzZt);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-EuzwrAHrn5Of);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-t4LRz2hDl9ro);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-am39CqB7lPb8);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-EuzwrAHrn5Of);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-am39CqB7lPb8);
}
.text__mx7Sl {
  white-space: pre;
}
.freeBox___2P5I {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___2P5ItdgDf {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-TJxOVpXWhVBF);
}
.slotTargetEndcolor_neutral {
  color: var(--token--HUiM5k6Z_r8);
}
.slotTargetEndcolor_muted {
  color: var(--token-nl25xu5G5r6i);
}
.slotTargetEndcolor_success {
  color: var(--token-C4TAIINK8xHa);
}
.slotTargetEndcolor_warning {
  color: var(--token-z0EkzB_xYcuk);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-ffN7A7ymK_6c);
}
.slotTargetEndtype_soft {
  color: var(--token-R1ZrHgwXkfqR);
}
.slotTargetEndtype_bordered {
  color: var(--token-R1ZrHgwXkfqR);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-GyWWQbqSvcxO);
}
.slotTargetEndsize_small {
  font-size: var(--token-GyWWQbqSvcxO);
}
.slotTargetEndsize_large {
  font-size: var(--token-iz0MKfHxAbL6);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-iz0MKfHxAbL6);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-WPdyv5ImOjW9);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-WPdyv5ImOjW9);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-nZn2ERquxzZt);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-nZn2ERquxzZt);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-t4LRz2hDl9ro);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-t4LRz2hDl9ro);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-EuzwrAHrn5Of);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-EuzwrAHrn5Of);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-am39CqB7lPb8);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-am39CqB7lPb8);
}
.svg___5ZqlU {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
