.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__xgNFf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  margin-bottom: 0px;
  background:
    linear-gradient(0deg, #ffffffc2 0%, #ffffff00 100%) 0% 0% / 100% 100% repeat,
    url("/plasmic/agency_website/images/veyselPng.png") top 35% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.freeBox___45ASu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 180px 50px;
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 746px;
  align-self: flex-end;
  justify-content: center;
  align-items: flex-start;
  background: #0000006b;
  box-shadow: 0px 4px 16px 0px #00000033;
  row-gap: 32px;
  min-width: 0;
  padding: 30px;
}
.freeBox__qKzNx {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
}
.h1 {
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-J5LhDkmcWqg4);
  text-align: left;
}
.text__mr4M {
  position: relative;
  height: auto;
  max-width: 731px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  margin-top: 5px;
  color: var(--token-J5LhDkmcWqg4);
  min-width: 0;
}
.freeBox__atRi3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 50px 8px;
}
.columns___1DQe7 {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  flex-grow: 0;
  width: 1380px;
  background: none;
  column-gap: 14px;
  --plsmc-rc-col-gap: 14px;
  padding: 0px;
}
.columns___1DQe7 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___1DQe7 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.column__h2ElU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column__dI755 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__v830Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.h2__cax5L {
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.text__fgi1R {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox___958SX {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  padding-left: 0px;
  column-gap: 16px;
}
.button {
  background: var(--token-DGiuVGy6R0p7);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  column-gap: 8px;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6em;
  padding: 16px 34px;
  border: 1px solid transparent;
}
.svg__eMpdt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__jhPte {
  color: var(--token-J5LhDkmcWqg4);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg___63HUi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__lfnUp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  padding: 125px 8px 8px;
}
.freeBox__oQ9L5 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
}
.columns__s4G9W {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 30px;
  min-width: 0;
  --plsmc-rc-col-gap: 30px;
}
.columns__s4G9W > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__s4G9W > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__s4G9W > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.column__kWYuA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(#0d4b6deb, #0d4b6deb),
    url("/plasmic/agency_website/images/handG176868E991920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox__y6Noa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 400px;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.h2___2TlBv {
  position: relative;
  color: var(--token-J5LhDkmcWqg4);
}
.freeBox__oniGm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: 0px;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-J5LhDkmcWqg4);
}
.text__qgjxs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  color: var(--token-J5LhDkmcWqg4);
  min-width: 0;
}
.column__ySqo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background:
    linear-gradient(#314f56e0, #314f56e0),
    url("/plasmic/agency_website/images/headerBg6Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox___5BkDo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 400px;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 511px) {
  .freeBox___5BkDo {
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: stretch;
  }
}
.h2__uktQs {
  position: relative;
  color: var(--token-J5LhDkmcWqg4);
}
.freeBox__msRIx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-top: 2px solid var(--token-J5LhDkmcWqg4);
}
.text__lp2A5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  padding-top: 0px;
  color: var(--token-J5LhDkmcWqg4);
  min-width: 0;
}
.column__g0Y5F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background:
    linear-gradient(#141616ed, #141616ed),
    url("/plasmic/agency_website/images/handG176868E991920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox__bSAmD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 400px;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.h2___4HItb {
  position: relative;
  color: var(--token-J5LhDkmcWqg4);
}
.freeBox__yK01B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  margin: 0px;
  border-top: 2px solid var(--token-J5LhDkmcWqg4);
}
.text__vzlsJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  color: var(--token-J5LhDkmcWqg4);
  min-width: 0;
}
.freeBox__wRyZn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--token-J5LhDkmcWqg4);
  width: 100%;
  min-width: 0;
  padding: 63px 64px 83px;
}
.freeBox__rKw3J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  max-width: 1380px;
  column-gap: 32px;
  row-gap: 32px;
}
.freeBox__m7K7B {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  row-gap: 16px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.img__e17Ww {
  position: relative;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  align-self: center;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__b9M1S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
}
.text__aNwjD {
  align-self: center;
  text-align: center;
}
.freeBox__enPE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__bVM5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  row-gap: 4px;
  min-width: 0;
}
.freeBox___1LInb {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text___8PFTx {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: var(--token-DGiuVGy6R0p7);
  font-family: "Inter", sans-serif;
}
.text__uRiG {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.freeBox__nougH {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  row-gap: 16px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.img__irmN {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__irmN > picture > img {
  object-fit: cover;
}
.freeBox___89KzG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
}
.text__gQxJb {
  text-align: center;
}
.freeBox__dg8RM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  row-gap: 4px;
  min-width: 0;
}
.freeBox__yRxLw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  row-gap: 4px;
}
.freeBox__wgkH3 {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text__wpwNk {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--token-DGiuVGy6R0p7);
  text-align: center;
}
.text__dyy4 {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.freeBox__jDqp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  row-gap: 16px;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.img__og1Nv {
  position: relative;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__p9Kd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
}
.text___6Q1Y {
  text-align: center;
}
.freeBox__itIbd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__loFcs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  row-gap: 4px;
  min-width: 0;
}
.freeBox__lrtuL {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text___9H0NL {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--token-DGiuVGy6R0p7);
  text-align: center;
}
.text__qtUjs {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.freeBox__plD0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/agency_website/images/handG176868E991920Jpg.jpg") right 0% top 50% / cover no-repeat fixed;
  min-width: 0;
  padding: 8px;
}
.freeBox__f81Ax {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 588px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
.footerMain:global(.__wab_instance) {
  position: relative;
  align-self: auto;
}
