.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-EligFghZ3Gzi);
  font-family: var(--token-AJYkFMfS40qd);
  font-size: var(--token-eNhfE7Qi48Wl);
  line-height: var(--token-noVvz83UuVVw);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-7mIgVXHHNlwj);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-GyWWQbqSvcxO);
  line-height: var(--token-7aqzGxcmOJFg);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-iz0MKfHxAbL6);
  line-height: var(--token-uZgPLPuRcCsg);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-Nf8eSKYhgXDI);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-BhnuPuxhjUtv);
  display: block;
}
