@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-DGiuVGy6R0p7: #292d2f;
  --plasmic-token-heading: var(--token-DGiuVGy6R0p7);
  --token-J5LhDkmcWqg4: #ffffff;
  --plasmic-token-white-color: var(--token-J5LhDkmcWqg4);
  --token-rkdG6Nbr4SM_: 320px;
  --plasmic-token-width-mixin: var(--token-rkdG6Nbr4SM_);
  --token-Zicwif7WQQAD: #2563eb;
  --plasmic-token-brand-brand: var(--token-Zicwif7WQQAD);
  --token--rSaC41lgzXD: 0.5rem;
  --plasmic-token-size-8: var(--token--rSaC41lgzXD);
  --token-AJYkFMfS40qd: Inter;
  --plasmic-token-sans-serif: var(--token-AJYkFMfS40qd);
  --token-eNhfE7Qi48Wl: 1rem;
  --plasmic-token-font-md: var(--token-eNhfE7Qi48Wl);
  --token-noVvz83UuVVw: 1.25;
  --plasmic-token-line-height-md: var(--token-noVvz83UuVVw);
  --token-GqqvQO2GhZeK: 0.375rem;
  --plasmic-token-size-6: var(--token-GqqvQO2GhZeK);
  --token-tLrl2rVTEm8M: #374151;
  --plasmic-token-neutral-neutral: var(--token-tLrl2rVTEm8M);
  --token-BhnuPuxhjUtv: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-BhnuPuxhjUtv);
  --token-Wi6ySeKNK7-J: #6b7280;
  --plasmic-token-muted-muted: var(--token-Wi6ySeKNK7-J);
  --token-7mIgVXHHNlwj: 0.25rem;
  --plasmic-token-size-4: var(--token-7mIgVXHHNlwj);
  --token-GyWWQbqSvcxO: 0.75rem;
  --plasmic-token-font-sm: var(--token-GyWWQbqSvcxO);
  --token-7aqzGxcmOJFg: 1;
  --plasmic-token-line-height-sm: var(--token-7aqzGxcmOJFg);
  --token-iz0MKfHxAbL6: 1.25rem;
  --plasmic-token-font-lg: var(--token-iz0MKfHxAbL6);
  --token-uZgPLPuRcCsg: 1.4;
  --plasmic-token-line-height-lg: var(--token-uZgPLPuRcCsg);
  --token-pZ5EiI9dhM56: 0.125rem;
  --plasmic-token-size-2: var(--token-pZ5EiI9dhM56);
  --token-OgCfzof6Lus1: #16a34a;
  --plasmic-token-success-success: var(--token-OgCfzof6Lus1);
  --token-dQl2tu4_4xKB: #facc15;
  --plasmic-token-warning-warning: var(--token-dQl2tu4_4xKB);
  --token-897Iy11Wv_zY: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-897Iy11Wv_zY);
  --token-5lcpiYqcNdoZ: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-5lcpiYqcNdoZ);
  --token-XtLPxt_CZJD9: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-XtLPxt_CZJD9);
  --token-I2T35Z4aGufw: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-I2T35Z4aGufw);
  --token-TtBMWB9Te3xN: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-TtBMWB9Te3xN);
  --token-So6uJxIlYxJg: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-So6uJxIlYxJg);
  --token-Gk_P58GQDVxs: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-Gk_P58GQDVxs);
  --token-cNBqYi7H42pr: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-cNBqYi7H42pr);
  --token-K--K8oPpL9li: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-K--K8oPpL9li);
  --token-g57ZLBZrgNg9: #86efac;
  --plasmic-token-success-success-border: var(--token-g57ZLBZrgNg9);
  --token-SYfRo4wn3uBY: #fde047;
  --plasmic-token-warning-warning-border: var(--token-SYfRo4wn3uBY);
  --token-n7rgNzFgInpu: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-n7rgNzFgInpu);
  --token-v0QLdUvFLpV3: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-v0QLdUvFLpV3);
  --token-h7Y3XY7G3qxx: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-h7Y3XY7G3qxx);
  --token-VFiuS99EpOsO: #00000033;
  --plasmic-token-interaction-pressed: var(--token-VFiuS99EpOsO);
  --token-zXNiTwKAfhLM: 0.625rem;
  --plasmic-token-size-10: var(--token-zXNiTwKAfhLM);
  --token-Z8BIPmEDaiUS: 0.75rem;
  --plasmic-token-size-12: var(--token-Z8BIPmEDaiUS);
  --token-TJxOVpXWhVBF: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-TJxOVpXWhVBF);
  --token--HUiM5k6Z_r8: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token--HUiM5k6Z_r8);
  --token-nl25xu5G5r6i: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-nl25xu5G5r6i);
  --token-R1ZrHgwXkfqR: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-R1ZrHgwXkfqR);
  --token-z0EkzB_xYcuk: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-z0EkzB_xYcuk);
  --token-C4TAIINK8xHa: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-C4TAIINK8xHa);
  --token-ffN7A7ymK_6c: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-ffN7A7ymK_6c);
  --token-WPdyv5ImOjW9: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-WPdyv5ImOjW9);
  --token-nZn2ERquxzZt: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-nZn2ERquxzZt);
  --token-t4LRz2hDl9ro: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-t4LRz2hDl9ro);
  --token-EuzwrAHrn5Of: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-EuzwrAHrn5Of);
  --token-am39CqB7lPb8: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-am39CqB7lPb8
  );
  --token-C4ErfxIZbF7B: 2rem;
  --plasmic-token-size-32: var(--token-C4ErfxIZbF7B);
  --token-Nf8eSKYhgXDI: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-Nf8eSKYhgXDI);
  --token-EligFghZ3Gzi: #030712;
  --plasmic-token-basic-text-primary: var(--token-EligFghZ3Gzi);
  --token-H9QDlZqfoOqK: #d1d5db;
  --plasmic-token-basic-border: var(--token-H9QDlZqfoOqK);
  --token-UulVTSptE3F5: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-UulVTSptE3F5);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-51p6reVRhuGW_font-family: "Inter", sans-serif;
  --mixin-51p6reVRhuGW_font-size: 16px;
  --mixin-51p6reVRhuGW_font-weight: 400;
  --mixin-51p6reVRhuGW_font-style: normal;
  --mixin-51p6reVRhuGW_color: #535353;
  --mixin-51p6reVRhuGW_text-align: left;
  --mixin-51p6reVRhuGW_text-transform: none;
  --mixin-51p6reVRhuGW_line-height: 1.7;
  --mixin-51p6reVRhuGW_letter-spacing: normal;
  --mixin-51p6reVRhuGW_white-space: pre-wrap;
  --mixin-51p6reVRhuGW_user-select: text;
  --mixin-51p6reVRhuGW_text-decoration-line: none;
  --mixin-51p6reVRhuGW_text-overflow: clip;
  --mixin-m6Z-DRoBXNtI_color: var(--token-J5LhDkmcWqg4);
  --mixin-m6Z-DRoBXNtI_font-weight: 700;
  --mixin-m6Z-DRoBXNtI_font-size: 50px;
  --mixin-m6Z-DRoBXNtI_line-height: 1.2;
  --mixin-m6Z-DRoBXNtI_letter-spacing: 0px;
  --mixin-m6Z-DRoBXNtI_font-family: "Playfair Display", serif;
  --mixin-m6Z-DRoBXNtI_text-align: center;
  --mixin-m6Z-DRoBXNtI_white-space: pre-wrap;
  --mixin-BpUXAhguoIRd_color: #000000;
  --mixin-BpUXAhguoIRd_font-weight: 600;
  --mixin-BpUXAhguoIRd_font-size: 36px;
  --mixin-BpUXAhguoIRd_line-height: 1.1;
  --mixin-BpUXAhguoIRd_letter-spacing: -1px;
  --mixin-BpUXAhguoIRd_font-family: "Playfair Display", serif;
  --mixin-BpUXAhguoIRd_white-space: pre-wrap;
  --mixin-OYng4kD1nnmu_color: #3291ff;
  --mixin-OYng4kD1nnmu_white-space: pre-wrap;
  --mixin-aqI8ZAMpQvaM_color: #000000;
  --mixin-aqI8ZAMpQvaM_font-weight: 600;
  --mixin-aqI8ZAMpQvaM_font-size: 24px;
  --mixin-aqI8ZAMpQvaM_line-height: 1.2;
  --mixin-aqI8ZAMpQvaM_letter-spacing: 0px;
  --mixin-aqI8ZAMpQvaM_font-family: "Playfair Display", serif;
  --mixin-aqI8ZAMpQvaM_white-space: pre-wrap;
  --mixin-lHXjGBecbZTa_color: #000000;
  --mixin-lHXjGBecbZTa_font-weight: 600;
  --mixin-lHXjGBecbZTa_font-size: 24px;
  --mixin-lHXjGBecbZTa_line-height: 1.3;
  --mixin-lHXjGBecbZTa_letter-spacing: -0.5px;
  --mixin-lHXjGBecbZTa_white-space: pre-wrap;
  --mixin-ktuO6cAp8LXT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ktuO6cAp8LXT_border-bottom-color: #dddddd;
  --mixin-ktuO6cAp8LXT_border-bottom-style: solid;
  --mixin-ktuO6cAp8LXT_border-bottom-width: 1px;
  --mixin-ktuO6cAp8LXT_border-left-color: #dddddd;
  --mixin-ktuO6cAp8LXT_border-left-style: solid;
  --mixin-ktuO6cAp8LXT_border-left-width: 1px;
  --mixin-ktuO6cAp8LXT_border-right-color: #dddddd;
  --mixin-ktuO6cAp8LXT_border-right-style: solid;
  --mixin-ktuO6cAp8LXT_border-right-width: 1px;
  --mixin-ktuO6cAp8LXT_border-top-color: #dddddd;
  --mixin-ktuO6cAp8LXT_border-top-style: solid;
  --mixin-ktuO6cAp8LXT_border-top-width: 1px;
  --mixin-ktuO6cAp8LXT_border-bottom-left-radius: 3px;
  --mixin-ktuO6cAp8LXT_border-bottom-right-radius: 3px;
  --mixin-ktuO6cAp8LXT_border-top-left-radius: 3px;
  --mixin-ktuO6cAp8LXT_border-top-right-radius: 3px;
  --mixin-ktuO6cAp8LXT_font-family: "Inconsolata";
  --mixin-ktuO6cAp8LXT_padding-bottom: 1px;
  --mixin-ktuO6cAp8LXT_padding-left: 4px;
  --mixin-ktuO6cAp8LXT_padding-right: 4px;
  --mixin-ktuO6cAp8LXT_padding-top: 1px;
  --mixin-ktuO6cAp8LXT_white-space: pre-wrap;
  --mixin-opR5NXVvkjjh_font-family: "Inter", sans-serif;
  --mixin-opR5NXVvkjjh_color: #000000;
  --mixin-opR5NXVvkjjh_font-size: 20px;
  --mixin-opR5NXVvkjjh_font-weight: 600;
  --mixin-opR5NXVvkjjh_letter-spacing: -0.3px;
  --mixin-opR5NXVvkjjh_line-height: 1.5;
  --mixin-opR5NXVvkjjh_white-space: pre-wrap;
  --mixin-ZwR-EsoR7OLQ_font-family: "Inter", sans-serif;
  --mixin-ZwR-EsoR7OLQ_color: #000000;
  --mixin-ZwR-EsoR7OLQ_font-size: 16px;
  --mixin-ZwR-EsoR7OLQ_font-weight: 600;
  --mixin-ZwR-EsoR7OLQ_line-height: 1.5;
  --mixin-ZwR-EsoR7OLQ_white-space: pre-wrap;
  --mixin-X6xAfLebyK5c_border-left-color: #dddddd;
  --mixin-X6xAfLebyK5c_border-left-style: solid;
  --mixin-X6xAfLebyK5c_border-left-width: 3px;
  --mixin-X6xAfLebyK5c_color: #888888;
  --mixin-X6xAfLebyK5c_padding-left: 10px;
  --mixin-X6xAfLebyK5c_white-space: pre-wrap;
  --mixin-19voBZfFgugn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-19voBZfFgugn_border-bottom-color: #dddddd;
  --mixin-19voBZfFgugn_border-bottom-style: solid;
  --mixin-19voBZfFgugn_border-bottom-width: 1px;
  --mixin-19voBZfFgugn_border-left-color: #dddddd;
  --mixin-19voBZfFgugn_border-left-style: solid;
  --mixin-19voBZfFgugn_border-left-width: 1px;
  --mixin-19voBZfFgugn_border-right-color: #dddddd;
  --mixin-19voBZfFgugn_border-right-style: solid;
  --mixin-19voBZfFgugn_border-right-width: 1px;
  --mixin-19voBZfFgugn_border-top-color: #dddddd;
  --mixin-19voBZfFgugn_border-top-style: solid;
  --mixin-19voBZfFgugn_border-top-width: 1px;
  --mixin-19voBZfFgugn_border-bottom-left-radius: 3px;
  --mixin-19voBZfFgugn_border-bottom-right-radius: 3px;
  --mixin-19voBZfFgugn_border-top-left-radius: 3px;
  --mixin-19voBZfFgugn_border-top-right-radius: 3px;
  --mixin-19voBZfFgugn_font-family: "Inconsolata";
  --mixin-19voBZfFgugn_padding-bottom: 3px;
  --mixin-19voBZfFgugn_padding-left: 6px;
  --mixin-19voBZfFgugn_padding-right: 6px;
  --mixin-19voBZfFgugn_padding-top: 3px;
  --mixin-19voBZfFgugn_white-space: pre-wrap;
  --mixin-bgTZk4y_brQx_display: flex;
  --mixin-bgTZk4y_brQx_flex-direction: column;
  --mixin-bgTZk4y_brQx_align-items: stretch;
  --mixin-bgTZk4y_brQx_justify-content: flex-start;
  --mixin-bgTZk4y_brQx_list-style-position: outside;
  --mixin-bgTZk4y_brQx_padding-left: 40px;
  --mixin-bgTZk4y_brQx_position: relative;
  --mixin-bgTZk4y_brQx_list-style-type: decimal;
  --mixin-bgTZk4y_brQx_white-space: pre-wrap;
  --mixin-CMbOxvUO5QNh_display: flex;
  --mixin-CMbOxvUO5QNh_flex-direction: column;
  --mixin-CMbOxvUO5QNh_align-items: stretch;
  --mixin-CMbOxvUO5QNh_justify-content: flex-start;
  --mixin-CMbOxvUO5QNh_list-style-position: outside;
  --mixin-CMbOxvUO5QNh_padding-left: 40px;
  --mixin-CMbOxvUO5QNh_position: relative;
  --mixin-CMbOxvUO5QNh_list-style-type: disc;
  --mixin-CMbOxvUO5QNh_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-TICYKS5moRAA_white-space: pre-wrap;
  --plasmic-mixin-monserrat-bold-light-color_white-space: var(
    --mixin-TICYKS5moRAA_white-space
  );
  --mixin-kBUxfkpEW6AY_white-space: pre-wrap;
  --plasmic-mixin-footer-menu-text_white-space: var(
    --mixin-kBUxfkpEW6AY_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-51p6reVRhuGW_font-family);
  font-size: var(--mixin-51p6reVRhuGW_font-size);
  font-weight: var(--mixin-51p6reVRhuGW_font-weight);
  font-style: var(--mixin-51p6reVRhuGW_font-style);
  color: var(--mixin-51p6reVRhuGW_color);
  text-align: var(--mixin-51p6reVRhuGW_text-align);
  text-transform: var(--mixin-51p6reVRhuGW_text-transform);
  line-height: var(--mixin-51p6reVRhuGW_line-height);
  letter-spacing: var(--mixin-51p6reVRhuGW_letter-spacing);
  white-space: var(--mixin-51p6reVRhuGW_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-m6Z-DRoBXNtI_color);
  font-weight: var(--mixin-m6Z-DRoBXNtI_font-weight);
  font-size: var(--mixin-m6Z-DRoBXNtI_font-size);
  line-height: var(--mixin-m6Z-DRoBXNtI_line-height);
  letter-spacing: var(--mixin-m6Z-DRoBXNtI_letter-spacing);
  font-family: var(--mixin-m6Z-DRoBXNtI_font-family);
  text-align: var(--mixin-m6Z-DRoBXNtI_text-align);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-BpUXAhguoIRd_color);
  font-weight: var(--mixin-BpUXAhguoIRd_font-weight);
  font-size: var(--mixin-BpUXAhguoIRd_font-size);
  line-height: var(--mixin-BpUXAhguoIRd_line-height);
  letter-spacing: var(--mixin-BpUXAhguoIRd_letter-spacing);
  font-family: var(--mixin-BpUXAhguoIRd_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-OYng4kD1nnmu_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-aqI8ZAMpQvaM_color);
  font-weight: var(--mixin-aqI8ZAMpQvaM_font-weight);
  font-size: var(--mixin-aqI8ZAMpQvaM_font-size);
  line-height: var(--mixin-aqI8ZAMpQvaM_line-height);
  letter-spacing: var(--mixin-aqI8ZAMpQvaM_letter-spacing);
  font-family: var(--mixin-aqI8ZAMpQvaM_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-lHXjGBecbZTa_color);
  font-weight: var(--mixin-lHXjGBecbZTa_font-weight);
  font-size: var(--mixin-lHXjGBecbZTa_font-size);
  line-height: var(--mixin-lHXjGBecbZTa_line-height);
  letter-spacing: var(--mixin-lHXjGBecbZTa_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ktuO6cAp8LXT_font-family);
  border-radius: var(--mixin-ktuO6cAp8LXT_border-top-left-radius)
    var(--mixin-ktuO6cAp8LXT_border-top-right-radius)
    var(--mixin-ktuO6cAp8LXT_border-bottom-right-radius)
    var(--mixin-ktuO6cAp8LXT_border-bottom-left-radius);
  padding: var(--mixin-ktuO6cAp8LXT_padding-top)
    var(--mixin-ktuO6cAp8LXT_padding-right)
    var(--mixin-ktuO6cAp8LXT_padding-bottom)
    var(--mixin-ktuO6cAp8LXT_padding-left);
  border-top: var(--mixin-ktuO6cAp8LXT_border-top-width)
    var(--mixin-ktuO6cAp8LXT_border-top-style)
    var(--mixin-ktuO6cAp8LXT_border-top-color);
  border-right: var(--mixin-ktuO6cAp8LXT_border-right-width)
    var(--mixin-ktuO6cAp8LXT_border-right-style)
    var(--mixin-ktuO6cAp8LXT_border-right-color);
  border-bottom: var(--mixin-ktuO6cAp8LXT_border-bottom-width)
    var(--mixin-ktuO6cAp8LXT_border-bottom-style)
    var(--mixin-ktuO6cAp8LXT_border-bottom-color);
  border-left: var(--mixin-ktuO6cAp8LXT_border-left-width)
    var(--mixin-ktuO6cAp8LXT_border-left-style)
    var(--mixin-ktuO6cAp8LXT_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-opR5NXVvkjjh_font-family);
  color: var(--mixin-opR5NXVvkjjh_color);
  font-size: var(--mixin-opR5NXVvkjjh_font-size);
  font-weight: var(--mixin-opR5NXVvkjjh_font-weight);
  letter-spacing: var(--mixin-opR5NXVvkjjh_letter-spacing);
  line-height: var(--mixin-opR5NXVvkjjh_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-ZwR-EsoR7OLQ_font-family);
  color: var(--mixin-ZwR-EsoR7OLQ_color);
  font-size: var(--mixin-ZwR-EsoR7OLQ_font-size);
  font-weight: var(--mixin-ZwR-EsoR7OLQ_font-weight);
  line-height: var(--mixin-ZwR-EsoR7OLQ_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-X6xAfLebyK5c_color);
  padding-left: var(--mixin-X6xAfLebyK5c_padding-left);
  border-left: var(--mixin-X6xAfLebyK5c_border-left-width)
    var(--mixin-X6xAfLebyK5c_border-left-style)
    var(--mixin-X6xAfLebyK5c_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-19voBZfFgugn_font-family);
  border-radius: var(--mixin-19voBZfFgugn_border-top-left-radius)
    var(--mixin-19voBZfFgugn_border-top-right-radius)
    var(--mixin-19voBZfFgugn_border-bottom-right-radius)
    var(--mixin-19voBZfFgugn_border-bottom-left-radius);
  padding: var(--mixin-19voBZfFgugn_padding-top)
    var(--mixin-19voBZfFgugn_padding-right)
    var(--mixin-19voBZfFgugn_padding-bottom)
    var(--mixin-19voBZfFgugn_padding-left);
  border-top: var(--mixin-19voBZfFgugn_border-top-width)
    var(--mixin-19voBZfFgugn_border-top-style)
    var(--mixin-19voBZfFgugn_border-top-color);
  border-right: var(--mixin-19voBZfFgugn_border-right-width)
    var(--mixin-19voBZfFgugn_border-right-style)
    var(--mixin-19voBZfFgugn_border-right-color);
  border-bottom: var(--mixin-19voBZfFgugn_border-bottom-width)
    var(--mixin-19voBZfFgugn_border-bottom-style)
    var(--mixin-19voBZfFgugn_border-bottom-color);
  border-left: var(--mixin-19voBZfFgugn_border-left-width)
    var(--mixin-19voBZfFgugn_border-left-style)
    var(--mixin-19voBZfFgugn_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-bgTZk4y_brQx_display);
  flex-direction: var(--mixin-bgTZk4y_brQx_flex-direction);
  align-items: var(--mixin-bgTZk4y_brQx_align-items);
  justify-content: var(--mixin-bgTZk4y_brQx_justify-content);
  list-style-position: var(--mixin-bgTZk4y_brQx_list-style-position);
  padding-left: var(--mixin-bgTZk4y_brQx_padding-left);
  position: var(--mixin-bgTZk4y_brQx_position);
  list-style-type: var(--mixin-bgTZk4y_brQx_list-style-type);
  column-gap: var(--mixin-bgTZk4y_brQx_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-CMbOxvUO5QNh_display);
  flex-direction: var(--mixin-CMbOxvUO5QNh_flex-direction);
  align-items: var(--mixin-CMbOxvUO5QNh_align-items);
  justify-content: var(--mixin-CMbOxvUO5QNh_justify-content);
  list-style-position: var(--mixin-CMbOxvUO5QNh_list-style-position);
  padding-left: var(--mixin-CMbOxvUO5QNh_padding-left);
  position: var(--mixin-CMbOxvUO5QNh_position);
  list-style-type: var(--mixin-CMbOxvUO5QNh_list-style-type);
  column-gap: var(--mixin-CMbOxvUO5QNh_column-gap);
}
