.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  min-width: 0;
  padding: 64px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.rowWrapper {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1380px;
  flex-grow: 0;
  column-gap: 20px;
  min-width: 0;
  --plsmc-rc-col-gap: 20px;
  padding: 8px;
}
.rowWrapper > :nth-child(4n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.rowWrapper > :nth-child(4n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.rowWrapper > :nth-child(4n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.rowWrapper > :nth-child(4n + 4) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.colmn1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__keiC4 {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
}
.text__mMGiA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 0px;
  left: auto;
  top: auto;
  padding-bottom: 0px;
  min-width: 0;
}
.colmn2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__x7Mqf {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
}
.link___0BGrd {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 556px;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__eiP6U {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__hrBv5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--token-DGiuVGy6R0p7);
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__o0N9 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  position: relative;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link___2GcWh {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  position: relative;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.colmn22 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3___0GYam {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
}
.link__e1Jg5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 556px;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__oXukl {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__lxKqg {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__tBZfL {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  position: relative;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__tOyCm {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  position: relative;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.colmn3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__m2Sgj {
  position: relative;
  left: auto;
  top: auto;
  margin-bottom: 12px;
}
.text__e3W0S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.link___1QKhs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 6px;
  padding-bottom: 0px;
  color: var(--token-DGiuVGy6R0p7);
  min-width: 0;
}
.link__pWfw8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  color: var(--token-DGiuVGy6R0p7);
  min-width: 0;
}
