.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__eHaB3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 1px;
  max-width: 100%;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-style: solid;
  border-color: var(--token-DGiuVGy6R0p7);
}
.freeBox__cukUt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
