.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  column-gap: 15px;
  min-width: 0;
  padding: 0px;
}
.svg__ziuJh {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
.svg__j6AWu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  align-self: flex-start;
  height: 1em;
}
.svg__ue93B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-J5LhDkmcWqg4);
  height: 1em;
}
